In [ ]:
import pandas as pd
import numpy as np

In [2]:
purchase_csv = "Data/purchase_data_new.csv"

purchase_data = pd.read_csv(purchase_csv)

In [3]:
purchase_data.head(15)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86

In [4]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [5]:
purchase_data["SN"].count

<bound method Series.count of 0              Lisim78
1          Lisovynya38
2           Ithergue48
3        Chamassasya86
4            Iskosia90
5              Yalae81
6            Itheria73
7          Iskjaskst81
8            Undjask33
9          Chanosian48
10           Inguron55
11        Haisrisuir60
12        Saelaephos52
13         Assjaskan73
14         Saesrideu94
15           Lisassa64
16           Lisirra25
17           Zontibe81
18           Reunasu60
19           Chamalo71
20        Iathenudil29
21       Phiarithdeu40
22        Siarithria38
23            Eyrian71
24             Siala43
25           Lisirra87
26          Lirtossa84
27             Eusri44
28              Aela59
29             Tyida79
            ...
750           Iljask75
751        Lisjaskan36
752      Mindjasksya61
753     Frichirranya75
754    Pheosurllorin41
755           Raesty92
756            Ilast79
757          Eratiel90
758             Iral74
759        Tyaelorap29
760         Aithelis62
761            Assim27
762             Asur53
763       Lassilsala30
764       Saedaiphos46
765            Irith83
766       Aelastirin39
767            Ilmol66
768       Assassasta79
769          Ilosian36
770         Lirtosia63
771       Iskossasda43
772             Asur53
773             Hala31
774         Jiskjask80
775         Aethedru70
776             Iral74
777         Yathecal72
778            Sisur91
779          Ennrian78
Name: SN, Length: 780, dtype: object>

In [6]:
# Player Count
    # Display the Total Player Count

total_players = len(purchase_data["SN"].value_counts())
                
num_players = pd.DataFrame({"Total Players":[total_players]})
                 
num_players.head()

   Total Players
0            576

In [7]:
# Purchasing Analysis
    # Run basic calculations to obtain number of unique items, average price, etc.
    # Create a summary data frame to hold the results
    # Optional: give the displayed data cleaner formatting
    # Display the summary data frame

unique_items = len(purchase_data["Item ID"].unique())

average_price = (purchase_data["Price"].sum())/len(purchase_data["Purchase ID"])

num_purchase = len(purchase_data["SN"])

total_rev = (purchase_data["Price"].sum())

summary_table = pd.DataFrame({"Number of Unique Items":[unique_items], 
                             "Average Price":[average_price],
                             "Number of Purchases": [num_purchase],
                             "Total Revenue" : [total_rev]})

summary_table.style.format({"Average Price":"${:,.2f}",
                         "Total Revenue": '${:,.2f}'})

In [28]:
# Gender Demographics
    # Percentage and Count of Male Players
    # Percentage and Count of Female Players
    # Percentage and Count of Other / Non-Disclosed

#gender_demograph = purchase_data.groupby("Gender")

gender_demograph = purchase_data["Gender"].value_counts()


#gender_count_total = gender_demograph["SN"].nunique()

players_percentage = (gender_count_total/total_players) * 100 


gender_table = pd.DataFrame({"Total Count": gender_count_total,
                            "Percentage of Players": players_percentage})

gender_table.style.format({"Percentage of Players": '{:,.2f}'})

gender_table.sort_values(["Total Count"], ascending = False)

gender_table.index.name = None

gender_table

                       Total Count  Percentage of Players
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

In [11]:
# Purchasing Analysis (Gender)
    # Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
    # Create a summary data frame to hold the results
    # Optional: give the displayed data cleaner formatting
# Display the summary data frame


purchase_count = gender_demograph["Purchase ID"].count()

avg_purchase = gender_demograph["Price"].mean()

avg_purchase_total = gender_demograph["Price"].sum()

avg_purchase_per_person = avg_purchase_total/gender_count_total

gender_analysis = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

gender_analysis.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

gender_analysis.index.name = "Gender"

gender_analysis

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [12]:
# Age Demographics

age_groups = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_groups, labels=group_names)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [13]:
# Age Demographics

age_grouped = purchase_data.groupby("Age Group")

total_count_age = age_grouped["SN"].nunique()

age_percentage = (total_count_age/total_players) * 100

age_table = pd.DataFrame({"Percentage of Players": age_percentage, "Total Count": total_count_age})

age_table.index.name = None

age_table.style.format({"Percentage of Players":"{:,.2f}"})

In [29]:
# Purchasing Analysis (Age)

purchase_by_age = age_grouped["Purchase ID"].count()
avg_purchase_age = age_grouped["Price"].mean()
total_purchase_value = age_grouped["Price"].sum()
avg_purchase_per_person_age = total_purchase_value/total_count_age


age_demograph = pd.DataFrame({"Purchase Count": purchase_by_age,
                                 "Average Purchase Price": avg_purchase_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

age_demograph.index.name = None

age_demograph.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [31]:
# Top Spenders

spender_metrics = purchase_data.groupby("SN")
purchase_count_spender = spender_metrics["Purchase ID"].count()

avg_purchase_price_spender = spender_metrics["Price"].mean()

purchase_total_spender = spender_metrics["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [35]:
# Most Popular Items

items = purchase_data[["Item ID", "Item Name", "Price"]]
item_metrics = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_metrics["Price"].count()
purchase_value = (item_metrics["Price"].sum()) 
item_price = purchase_value/purchase_count_item

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

most_popular_organized = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

most_popular_organized.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [36]:
# Most Profitable 

most_popular_organized = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
most_popular_organized.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})